.navigation_session {
    margin: 26px 0;
    display: flex;
    justify-content: space-around;
  
    a {
      margin: 10px;
      padding: 10px;
      border-radius: 4px;
      position: relative;
    }
    div{
        display: grid;
        }
    .nav-active {
      &::after {
        content: "";
        width: 85%;
        height: 5px;
        background: $color-1;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }